fastapi==0.97.0
langchain==0.0.201
boto3==1.26.155
uvicorn[standard]==0.22.0
gunicorn==20.1.0
python-multipart==0.0.6
pgvector==0.1.8
openai==0.27.8
tiktoken==0.4.0
unstructured==0.7.6
asyncpg==0.27.0
